<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555974284451-v1m09b6tof90laloco9jvng4t6vk4d21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555974284451-v1m09b6tof90laloco9jvng4t6vk4d21</string>
	<key>API_KEY</key>
	<string>AIzaSyAVhrkUocR9iR4W7jlMWBd1AzcDrf9_jdU</string>
	<key>GCM_SENDER_ID</key>
	<string>555974284451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.betingApp</string>
	<key>PROJECT_ID</key>
	<string>betting-a15c3</string>
	<key>STORAGE_BUCKET</key>
	<string>betting-a15c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555974284451:ios:244f1d8023ec19a3789b16</string>
</dict>
</plist>